@page
@model WebApplication3.Pages.Members.CreateMembersModel
@{
}
<h1>Create New Member</h1>
<form method="post">
    <div class="form-group">
    <label asp-for="Member.MemberId">MemberId</label>
    <input asp-for="Member.MemberId" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Member.MemberName">Name</label>
        <input asp-for="Member.MemberName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Member.Adresse">Adresse</label>
        <input asp-for="Member.Adresse" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Member.Phone">Phone</label>
        <input asp-for="Member.Phone" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create Member</button>
</form>
