@* @page
@model WebApplication2.Pages.Calculate2Model
@{
}


<div class="container mt-5">
    <h2>Calculator</h2>

    <form method="post">
        <div class="mb-3">
            <label>First No</label>
            <input type="number" class="form-control" asp-for="A" />
        </div>

        <div class="mb-3">
            <label>Operatori</label>
            <select class="form-control" asp-for="Operator">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Numri i dytë</label>
            <input type="number" class="form-control" asp-for="B" />
        </div>

        <button type="submit" class="btn btn-primary">=</button>
    </form>

    @if (Model.Result != 0)
    {
        <h3 class="mt-3">Result: @Model.Result</h3>
    }
</div> 
 *@