@page
@model WebApplication2.Pages.Page2Model
@{
}

    <div class="container bg-info-subtle my-3">
        <h2>Card Image</h2>
        <p>Image at the top / bottom (grid layout):</p>

        <div class="row">

            <!-- Card 1 -->
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <img src="~/image/skærmbillede 2026-02-03 202922.png"      
                         class="card-img-top"
                         alt="Card image">

                    <div class="card-body">
                        <h4 class="card-title">Saniela Dhimitri</h4>
                        <p class="card-text">
                            Saniela Dhimitri is a web developer focused on building modern, responsive, and user-friendly web applications using HTML, CSS, JavaScript, and Bootstrap.
                        </p>
                        <a href="SeProfil" class="btn btn-primary">See Profile</a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Saniela Dhimitri</h4>
                        <p class="card-text">
                            Saniela Dhimitri is a web developer focused on building modern, responsive, and user-friendly web applications using HTML, CSS, JavaScript, and Bootstrap.
                        </p>
                        <a href="SeProfil" class="btn btn-primary">See Profile</a>
                    </div>
                    <img src="~/image/skærmbillede 2026-02-03 202147.png"              
                         class="card-img-bottom"
                         alt="Card image">

              

                </div>
            </div>

        </div>
    </div>



