@page
@model WebApplication2.Pages.SeProfilModel
@{
}
<div class="container mt-3">
    <h2>Se Profil</h2>
    <p>I am a Progeammering</p>
    <div class="card" style="width:100%">
     
        <img src="~/image/skærmbillede 2026-02-04 120527.png" 
             class="card-img-top"
             alt="Card image">

        <div class="row flex-column">
            <div class="col-12 bg-danger text-white p-3">ZEALAND Roskilde</div>
        </div>

        <div class="card-body">
            <h4 class="card-title">Saniela Dhimitri</h4>
            <p>
                I am a motivated and creative person who enjoys learning new things and taking on new challenges. I value honesty, teamwork, and personal growth, and I always try to give my best in everything I do. I enjoy working with others, sharing ideas, and turning concepts into reality.
            </p>
            
        </div>
    </div> 
</div>