/* _content/boatTest/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-oat0l3qv1u] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-oat0l3qv1u] {
  color: #0077cc;
}

.btn-primary[b-oat0l3qv1u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.nav-pills .nav-link.active[b-oat0l3qv1u], .nav-pills .show > .nav-link[b-oat0l3qv1u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-oat0l3qv1u] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-oat0l3qv1u] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-oat0l3qv1u] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-oat0l3qv1u] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-oat0l3qv1u] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

table[b-oat0l3qv1u] {
    table-layout: fixed; /*  KJO ËSHTË ÇELËSI de delete dhe edit te barabarte butona */
}
td.actions[b-oat0l3qv1u] {                /* ++ KJO ËSHTË ÇELËSI de delete dhe edit te barabarte butona */
    width: 200px;
}




@media (max-width: 576px) { /* per line telefon*/
    .navbar-nav[b-oat0l3qv1u] {
        align-items: stretch; /* lëre default */
        padding-top: .75rem;
    }

    .nav-item[b-oat0l3qv1u] {
        display: flex;
        justify-content: flex-end; /* DJATHTAS */
        width: 100%;
    }
}
