@page
@model IndexModel
@{
    ViewData["Title"] = "”Camel Case";
}
<main>
<header>
    <h1>My portofolio-Saniela Dhimitri</h1>
</header>

  <img src="~/image/skærmbillede 2025-10-20 171900.png" />
 <p>This is a short description of my selv</p>
        
    <div class="container-fluid bg-info">
        <h1>My First Bootstrap </h1>
        <h2 class="h4">About Me</h2>

        <p>
            My name is Saniela Dhimitri, and I am a programming student at Zealand.
            I am learning how to develop websites and applications, and I enjoy
            working with both design and code.
        </p>

        <p>
            I am especially interested in web development and like working with
            HTML, CSS, C#, and ASP.NET. I am motivated to learn new technologies
            and improve my skills through practice and projects.
        </p>

        <p>
            This portfolio shows my work and my progress as I grow into a future
            software developer.
        </p>

    </div>

  </main> 


@*   bg-primary → blå

bg-dark → sort/mørk

bg-light → lys

bg-success → grøn
bg-info         <!-- Lys blå -->
bg-warning      <!-- Lys gul -->
bg-success  

bg-danger → rød

bg-warning → gul *@