/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

table {
    table-layout: fixed; /*  KJO ËSHTË ÇELËSI =vetem per delete dhe editde delete dhe edit te barabarte butona edit+delete *//*   Pa këtë rregull, një kolonë me butona Edit / Delete mund të zgjerohej më shumë se kolonat e tjera.*/
}
td.actions { /* ++ KJO ËSHTË ÇELËSI de delete dhe edit te barabarte butona */ /*Vendos gjerësi fikse 200px për çdo <td> që ka klasën actions.*/ /*Butonat duken simetrikë dhe të barabartë*/
    width: 200px;
}




@media (max-width: 576px) { /* per line telefon*/
    .navbar-nav {
        align-items: stretch; /* lëre default */
        padding-top: .75rem;
    }

    .nav-item {
        display: flex;
        justify-content: flex-end; /* DJATHTAS */
        width: 100%;
    }
}
