/* _content/WebApplication2/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand[b-274z30g9x2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-274z30g9x2] {
  color: #0077cc;
}

.btn-primary[b-274z30g9x2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-274z30g9x2], .nav-pills .show > .nav-link[b-274z30g9x2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-274z30g9x2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-274z30g9x2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-274z30g9x2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-274z30g9x2] {
  font-size: 1rem;
  line-height: inherit;
}


footer[b-274z30g9x2] {
    margin: 0;
    padding: 10px;
}
.navbar-dark .navbar-toggler[b-274z30g9x2] {
    border-color: #0077cc /* blu */
}

.navbar-dark .navbar-toggler-icon[b-274z30g9x2] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(13,110,253,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
body[b-274z30g9x2] {
    margin: 0;
}
